<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#b0cfd9"
  type="ball-atom">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="row py-5" style="min-height: 500px">
  <div class="col-lg-6 text-center" style="background-color: rgba(0,0,0,0.2); border-radius: 10px">
    <h1 class="mb-4">Mapa pogodowa Polski</h1>
    <div id="chartdiv" style="width: 100%; height: 500px"></div>
  </div>

  <div class="col-lg-6">
    Second chart
  </div>
</div>
