<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">MobilEnvy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Strona główna<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login" *ngIf="!loggedIn">Logowanie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="register" *ngIf="!loggedIn">Rejestracja</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="dashboard" *ngIf="loggedIn">Panel sterowania</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="#" (click)="logout($event)" *ngIf="loggedIn">Wyloguj</a>
      </li>
    </ul>
  </div>
</nav>
