<section class="row mobil-envy">
  <div class="col-lg-5 offset-lg-1 col-sm-12 text-center">
    <div class="text">
      <h2>Kompleksowe monitorowanie parametrów środowiska</h2>
    </div>
  </div>

  <div class="col-lg-5 offset-lg-1 col-sm-12 logo">
    <img class="img-fluid" src="../../../assets/images/logo/logo.png" alt="MobilEnvy">
  </div>
</section>
<section class="row section section-dark text-center py-3">
  <div class="col-12 my-5"><h1>Dokonujemy pomiarów z zakresu:</h1></div>

  <div class="col-md-4 col-sm-12 text-center display-1">
    <i class="fas fa-thermometer-three-quarters"></i>
    <h4>Temperatury</h4>
  </div>
  <div class="col-md-4 col-sm-12 text-center display-1">
    <i class="fas fa-wind"></i>
    <h4>Prędkości wiatru</h4>
  </div>
  <div class="col-md-4 col-sm-12 text-center display-1">
    <i class="fas fa-cloud-sun-rain"></i>
    <h4>Jakości powietrza</h4>
  </div>
</section>

<section class="row world">
  <div class="col-lg-6 offset-lg-3 col-sm-12 text-center display-1">
      <h2 class="display-4 font-weight-bolder text-large">Nasze stacje badawcze monitorują całą Ziemię!</h2>
  </div>
</section>
