<div class="container-fluid">
<section class="row mobil-envy">
  <div class="col-lg-5 offset-lg-1 col-sm-12 text-center my-auto text-uppercase">
      <h2>Kompleksowe monitorowanie parametrów środowiska</h2>
  </div>

  <div class="col-lg-5 offset-lg-1 col-sm-12 my-auto">
    <img class="img-fluid" src="../../../assets/images/logo/logo.png" alt="MobilEnvy">
  </div>
</section>
<section class="row section-dark text-center p-0">
  <div class="container my-5 display-4 text-uppercase">Dokonujemy pomiarów z zakresu:</div>

    <div class="col-md-4 col-sm-12 text-center display-1 my-2">
      <i class="fas fa-thermometer-three-quarters"></i>
      <h4>Temperatury</h4>
    </div>
    <div class="col-md-4 col-sm-12 text-center display-1 my-2">
      <i class="fas fa-wind"></i>
      <h4>Prędkości wiatru</h4>
    </div>
    <div class="col-md-4 col-sm-12 text-center display-1 my-2">
      <i class="fas fa-cloud-sun-rain"></i>
      <h4>Jakości powietrza</h4>
    </div>
</section>

<section class="row world">
  <div class="col-lg-12 text-center my-auto">
    <h1 class="font-weight-bolder text-light text-uppercase">Nasze stacje badawcze monitorują całą Ziemię!</h1>
  </div>
</section>

<section class="row section-dark text-center p-0">
  <div class="col-lg-6 col-sm-12 display-4 text-center my-auto text-uppercase">Jak to działa?</div>

  <div class="col-lg-5 col-sm-12 mb-5">
    <i class="fab fa-wpexplorer display-1 my-5"></i>
    <h2 class="text-justify mt-3">Stacje badawcze zlokalizowane w stategicznych punktach systematycznie gromadzą dane oraz przesyłają je do bazy.
      Jest to nowatorskie podejście z wykorzystaniem Internetu Rzeczy oraz najnowszych rozwiązań!</h2>
  </div>
</section>

<section class="row beach">
  <div class="col-lg-12 text-center my-auto">
    <h1 class="font-weight-bolder text-light text-uppercase">Pozwól technologii pracować za Ciebie</h1>
  </div>
</section>

<footer class="row section section-dark text-center py-3 my-5">
  <div class="col-lg-7 col-md-12 col-sm-12 my-auto">
    <h3>Copyright &copy; MobilEnvy 2019</h3>
  </div>
  <div class="col-lg-5 col-md-12 col-sm-12 text-lg-right py-5 font-weight-bold text-center">
    <div class="mr-lg-5">
      <h6>Autorzy:</h6>
      <ul class="m-0 p-0">
        <li>Technical Writer - Marta Bartkowska</li>
        <li>Technical Writer - Jan Kasprzak</li>
        <li>Station Developer - Konrad Baran</li>
        <li>Head Developer - Adam Sztukowski</li>
      </ul>
    </div>
  </div>
</footer>
</div>
